body[data-theme="light"] {
  --font-family: "Montserrat";
  --color-text: #2c7fc8;
  --color-text-btn: #296090;
  --background-home: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  --background-body: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
  --background-card: linear-gradient(to right, #000428, #004e92);
  --border: 2px solid #4fd43d;
  --active-color: #004e92;
  --transition: 0.5s;
  --border-radius: 10px;
  --button-color-text: #cac3c3;
  --button-color-active: #67d1aa;
  --button-hover: linear-gradient(to right, #1488cc, #2b32b2);
  --box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

body[data-theme="dark"] {
  --font-family: "Montserrat";
  --color-text: #cfbfe1;
  --color-text-btn: #cfbfe1;
  --background-home: linear-gradient(to right, #353554, #302b63, #17114c);
  --background-body: linear-gradient(to right, #2a0845, #6441a5);
  --background-card: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  --active-color: #7edada;
  --border: 2px solid #1488cc;
  --transition: 0.5s;
  --border-radius: 10px;
  --button-color-text: #373737;
  --button-color-active: #67d1aa;
  --button-hover: linear-gradient(to right, #20002c, #cbb4d4);
  --box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  height: 100vh;
}

h1,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

select {
  border: none;
  outline: none;
  cursor: pointer;
}
