:root {
  --font-family: "Montserrat";

  --color-text: rgba(255, 255, 255, 0.87);

  --backgroundHome: linear-gradient(to right, #8f8fca, #7193d4, #8acbc7);
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  height: 100vh;
}

h1,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
